body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #fff; /* White background */
}

body {
    font-family: 'Fjalla One', sans-serif;
}

.header h1 {
    font-family: 'Fjalla One', sans-serif;
}

.chat-container, .input-container {
    font-family: 'Fjalla One', sans-serif;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2rem;
    color: #000; /* Black text color */
}

.chat-container {
    width: 80%;
    max-width: 400px;
    height: 70vh;
    border: 1px solid #000; /* Black border */
    border-radius: 10px;
    background-color: #fff; /* White background */
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.content {
    margin: 5px 0;
}

.chat-bubble {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    line-height: 1.4;
    position: relative;
}

.chat-bubble.black {
    background-color: #fff; /* White background */
    color: #000; /* Black text color */
    align-self: flex-end;
}

.chat-bubble.white {
    background-color: #fff; /* White background */
    color: #000; /* Black text color */
    align-self: flex-start;
    padding-left: 20px; /* Add space for the arrow */
    position: relative;
}

.chat-bubble.white::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff; /* White arrow */
}

.input-container {
    width: 80%;
    max-width: 400px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#message-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #000; /* Black border */
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.send-button, .talk, .images {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000; /* Black background */
    color: #fff; /* White text color */
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
}

.send-button:hover, .talk:hover, .images:hover {
    background-color: #333; /* Darker black background on hover */
}